* {
  -webkit-user-select: none;
  -moz-user-select: none;
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

canvas {
  width: 100%;
  height: 100%;
}